@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Montserrat', sans-serif;
}
* html body {
    overflow:auto;
    
  }
  #Fija {
    position:fixed;
    top:0;
    left:0;
    z-index:100;
  }
  html>body #Fija {
    width:100%;
    position:fixed;
    opacity: .90;
  }
  #Todo {

    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:auto;
    transform: translate(0,130px);
  }
  html>body #Todo {
    position:static;
    top:auto;
    left:auto;
    width:auto;
    height:auto;
    overflow:visible;
  }
header{
    position: relative;
    background:rgb(37, 37, 37);
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.4);
    margin-top:-10px;
    padding-left:10%;
    padding-top:10px;
    text-align: left;
    color:snow;
    /*text-shadow: 1px 1px 20px black;*/
    font-weight:bolder;
}
.nav{
    display:inline-flex;
    position: relative;
    text-align:center;
    transform: translate(0,-5px);
    /*box-shadow:1px 2px 10px -5px;
    
    background:white;
    border: 0 none;
    border-radius:10px;*/
}

/*section{
    background:white;
    width:65%;
    display:inline-block;
    position:Relative;
    padding:20px;
    box-shadow:1px 1px 10px -5px;
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:30px;
    border: 0 none;
    border-radius:5px;

}*/
.izquierda{
    width:75%;
    display:inline-flex;
}
.abajo{
    width:90%;
    display:inline-flex;
}
.home{
    display:inline-flex;
}
article{
    width:50%;
    box-shadow:1px 1px 10px -5px;
    margin: 10px;
    background:white;
    display:inline-block;
    font-size:90%;
    opacity:.7;
    transition:0.5s ease all;
}
article:hover{
    opacity:1;
    transition: 1s ease all;
}
aside{
    background:white;
    width:20%;
    display:inline-flex;
    position:relative;
    padding-left: 10px;
    box-shadow: 1px 1px 10px -5px;

}
.aside{
    width:90%;
    position:relative;
    margin:2%;
}

footer{
    width:98%;
    position:relative;
    background:rgb(37, 37, 37);
    color:white;
    padding:10px;
    margin:2px;
    text-align:center;
    font-size:70%;
}
#opc{
    display:inline;
    padding:10px;
    color:snow;
    background:rgb(37, 37, 37);
    border: 0 none;
    border-radius:4px;

}
#opc:hover{
    background: rgba(0,0,0,0);
    color: #aa3c3c;
    box-shadow: inset 0 0 0 2px #b6463e;
    border: 0 none;
    border-radius:4px;
}
/*Acomoda la imagen del header*/
.tituloimg{
    width:100%;
    position:relative;
}

#yo{
    width:100%;
    position:relative;
    margin:0 auto;
    text-align:center;
}
/*Acomoda el texto de los articulos*/
.contenido{
    width:90%;
    display:inline-block;
    margin-left:5%;
    position:relative;
    margin-right:5%;
    margin-top:-60px;
    margin-bottom:10px;
}
.contenido2{
    width:90%;
    display:inline-block;
    margin-left:5%;
    position:relative;
    margin-right:5%;
    margin-bottom:10px;
}
/*Titulos de color rojo con tamaño acomodado*/
.titulo{
    background:rgb(201, 68, 59);
    padding:10px;
    width:30%;
    position:relative;
    transform:translate(0px,-120%);
    box-shadow:1px 1px 10px -5px black;
    color:white;
    font-weight: bolder;
    text-shadow: 0px 0px 10px px black;
    
}
.titulo2{
    background:rgb(201, 68, 59);
    padding:10px;
    width:80%;
    position:relative;
    transform:translate(0px,-80%);
    box-shadow:1px 1px 10px -5px black;
    color:white;
    font-weight: bolder;
    text-shadow: 0px 0px 10px px black;
    
}

/*Iconos de contacto*/
.facebook{
    background:#475993;
    padding: 3px;
    width:80%;
    position:relative;
    color:white;
    font-weight: bolder;
    border:0 none;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -5px black;
    margin-left:10%;
    margin-right:10%;
    text-align:center;
    transform: translate(0,-30px);
}
.facebook:hover{
    background:#323f69;
}
.facebook img{
    margin-right:-2px;
}

.twitter{
    background:#55ACEE;
    padding: 3px;
    width:80%;
    position:relative;
    color:white;
    font-weight: bolder;
    border:0 none;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -5px black;
    margin-left:10%;
    margin-right:10%;
    text-align:center;
    transform: translate(0,-30px);
}
.twitter:hover{
    background:rgb(62, 137, 194);
}
.twitter img{
    margin-right:-2px;
}

.youtube{
    background:#C50000;
    padding: 3px;
    width:80%;
    position:relative;
    color:white;
    font-weight: bolder;
    border:0 none;
    border-radius: 3px;
    box-shadow: 0px 0px 10px -5px black;
    margin-left:10%;
    margin-right:10%;
    text-align:center;
    transform: translate(0,-30px);
}
.youtube:hover{
    background:#760000;
}
.youtube img{
    margin-right:-2px;
}
/*Etiquetas A = los hipervínculos y Rd = El hipervínculo del header "home page"*/
#a{
    color:rgb(37, 88, 104);
}
#rd{
    color:rgb(189, 81, 81);
}